<!DOCTYPE html>
<html>
  <head>
    <title>SupportApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f44aa3a332.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
     <%= javascript_include_tag *webpack_asset_paths(@namespace) %>
  </body>
</html>
